*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d-flex{
    display: flex;
    flex-wrap: nowrap;
}
.flex-right{
    justify-content: end;
}
.cl-or{
    color: orange;
}
.text-bold{
    font-weight: bold;
}
.flex-between{
    justify-content: space-between;
}
.w-left{
    width: 20%;
    
    
}
.w-right{

}
#header-mid-mid input{
    padding: 0.5rem;
    width: 20rem;
}
#header-mid-mid button{
    padding: 0.6rem 0.7rem;
    opacity: 0.6;
    margin: -1px;
    border-top-left-radius: 0;
    border-start-end-radius: 0;
    border: 1px solid #ccc;
}
/* ,cl-grey{
    color: gray;
} */
/* header */
#header-top{
    background: rgb(237, 235, 235);
}
#header-top .fa-brands{
    opacity: 0.5;
    padding: 0.5rem 0.8rem;
    border-right:solid 1px rgb(158, 156, 156);
}
#header-top .fa-facebook-f{
    border-left:solid 1px rgb(154, 153, 153) ;
}
#header-top p{
    padding: 0.5rem 0.8rem;
}
#header-mid-mid, #header-mid-right{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
#header-mid-right>div{
   max-height: 2.4rem;
}
#header-mid-right p{
    text-transform: uppercase;
    color: rgb(195, 191, 191);
    width: 13rem;
    margin-left: 1rem;
}
#header-mid-right .header-mid-right-left{
    margin-right: 1rem;
}
#header-mid-mid img{
    margin-right: 1rem;
}
#header-bottom{
    background: green;
}
#header-bottom a{
    text-transform: uppercase;
    color: #fff;
}
#header-bottom li{
    padding: 0.5rem;
}
#header-bottom a{
    text-transform: uppercase;
    color: #fff;
}
#header-bottom #header-bottom-menu-1 >ul>li{
    position:relative;
}
#header-bottom-menu-2{
    position: absolute;
    top:100%;
    left:0;
    background-color: #ebe0e0;
    display: none;
}
#header-bottom-menu-2>li>a{
    color: black;
    text-transform: none;
}
#header-bottom-menu-2>li{
    border: solid 1px #ccc;
}
#header-bottom-menu-1 >ul>li:hover ul{
    display: block;
    width: 100%;
}
#header-bottom-menu-1 >ul>li:hover{
    background-color: orange;
}
.header-bottom-first{
    width: 16rem;
}

/* header  */