@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: Gotham-Thin;
    src: url(../fonts/Gotham-Thin.otf);
}

@font-face {
    font-family: Gotham-Ultra;
    src: url(../fonts/Gotham-Ultra.otf);
}

* {
    font-family: 'Gotham-Medium';
}

.container {
    max-width: 1280px;
}

a {
    text-decoration: none;
}

header {
    padding: 1.375rem 0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    z-index: 1000;
}

section {
    background-color: #a9a9a9;
}

/* Header-mobile */
#menu-mobile>.nav {
    display: none;
}

@media (max-width: 575.98px) {
    .header-logo {
        width: 2rem;
    }

    .menu-mobile-active {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        height: 100vh;
    }

    #menu-mobile>.nav a {
        text-align: center;
    }

    #menu-mobile .nav>a {
        position: relative;
        padding: 0.5rem 1.6875rem;
    }

    #menu-mobile .nav>a::before,
    #menu-mobile .active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 15%;
        height: 0.375rem;
        background-color: #bd945f;
        display: none;
        transform: translateX(-50%);
    }

    #menu-mobile .nav>a:hover::before,
    #menu-mobile .active::after {
        display: block;
    }

}

.w-100 {
    width: 100%;
}

.cl-1 {
    color: #453d74;
}

.cl-2 {
    color: #f0b800;

}

.bg-1 {
    color: #453d74;
}

.bg-2 {
    background-color: #f0b800;

}

.cl-3 {
    color: #f3f3f3;
}

.bg-3 {
    background-color: #f3f3f3;
}

.header-nav .nav>a {
    position: relative;
    padding: 0.5rem 1.69rem;
}

.header-nav .nav>a::before,
.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: 51%;
    height: 0.375rem;
    background-color: #bd945f;
    display: none;
}

.header-nav .nav>a:hover ::before,
.active::after {
    display: block;
}

#menu-mobile>.nav {
    /* display: none; */
    display: none;
}

#menu-mobile>div {
    display: none;
}

.active {
    display: block;
}

.header-nav .nav>a:hover::before,
.active::after {
    display: block;
}

#banner {
    margin-top: 8.75rem;
    background-image: url(../imges/Project/banner.jpg);
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center; */
    height: 51.625rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#banner .container {
    position: relative;
}

#banner .banner-content {
    position: absolute;
    left: 3.375rem;
    top: 7.25rem;

}

.banner-content h2,
.banner-content h2>span {
    text-transform: uppercase;
    font-size: 2.9rem;
    font-family: "Gotham-Ultra";

}

.banner-content button {
    padding: 1.5rem 2rem;
    border-radius: 0;
    font-family: 'Gotham-Ultra';
    font-size: 1.25rem;
    border: 0;
}

.banner-content p {
    width: 34.75rem;


}

#categories .item-category {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0 3.25rem 0;
}

#categories {
    height: 35rem;
}

#categories .item-category>a {
    font-family: 'Gotham-Ultra';
    text-decoration: none;
    color: #453d74;
}

#categories>.container {
    position: relative;
}

#categories>.container>div {
    position: absolute;
    top: -2.5rem;
    left: 0;
    z-index: 3;
}

/* Product */
.product-box {
    width: 25%;
}

.product-hot .product-title h4 {
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    font-size: 16px;
    text-align: center;
    color: #453d74;

}

.product-hot .product-title p {
    text-align: center;
    margin: 0.3725rem 0 0 0;
}

.product-box .product-img {
    display: flex;
    justify-content: center;
}

#list-product {
    position: relative;
}

#list-product .slick-arrow {
    border: 0;
    border-radius: 50%;
    background-color: #bd945f;
    color: #fff;
    width: 2.875rem;
    height: 2.875rem;
    font-size: 2rem;
    position: absolute;
    top: 30%;
}

#list-product .slick-next {
    right: calc(100% - 0.625rem);
}

#list-product .slick-prev {
    left: calc(100% - 0.625rem);
}


/* Product */